body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-wrapper {
  background: #0cebeb;
  background: -webkit-linear-gradient(left, #29ffc6, #20e3b2, #0cebeb);
  background: -o-linear-gradient(left, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}

.sid_nav_background{
  background-color: #000;
}

.background{
  background: url("http://localhost:3000/images/sunrin.png");
  background-size: 300px, 180px;
  background-repeat: no-repeat;
}

.p1 {
  padding: 50px;
}

.title{

}

.p1 {
  padding: 0;
  margin: 0;
  border: 0;
}
